.coloredBackground0 {
  background: $gradient0;
}

.coloredBackground1 {
  background: $gradient1;
}

.coloredBackground2 {
  background: $gradient2;
}

.coloredBackground3 {
  background: $gradient3;
}

.coloredBackground4 {
  background: $gradient4;
}

.coloredBackground5 {
  background: $gradient5;
}

.profileInfo {
  height: 20vh;
  .pp {
    background-color: $dark;
    border-radius: 50%;
    box-shadow: $shadow;
    height: 10vh;
    width: 10vh;
    h1 {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      font-size: 4.5vh;
      margin: 0;
      padding: 0;
    }
  }
  .userInfo {
    p {
      color: $white;
      font-weight: 600;
      font-size: 2vh;
      letter-spacing: 1.5pt;
      text-transform: capitalize;
    }
  }
}

.desktimeInfoContainer {
  div {
    p {
      color: $white;
      font-weight: 600;
      font-size: 1.6vh;
      margin-bottom: 5px;
      letter-spacing: 1.5pt;
      text-transform: capitalize;
    }
    &:first-child > div > div {
      background-color: $dark;
      border-radius: 10px;
      box-shadow: $shadow;
      height: 9vh;
      width: 12vh;
    }
    &:nth-child(2) > div > div {
      background-color: $dark;
      border-radius: 50%;
      box-shadow: $shadow;
      height: 12vh;
      width: 12vh;
      .text {
        font-size: 3vh;
        letter-spacing: 1.5pt;
      }
    }
    .text {
      font-size: 2.5vh;
      font-weight: 600;
      letter-spacing: 1.5pt;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
}

.mostUsedApps {
  .title {
    color: $white;
    font-weight: 600;
    font-size: 2.2vh;
    letter-spacing: 1.5pt;
    text-align: center;
    text-transform: capitalize;
    p {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .mostUsedAppsContainer {
    background-color: $dark;
    border-radius: 10px;
    box-shadow: $shadow;
    height: max-content;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 65vw;
  }
  .app {
    width: 100%;
    .appName {
      font-size: 2vh;
      letter-spacing: 1.5pt;
      margin-bottom: 0.5vh;
      margin-top: 0.5vh;
      color: $white;
    }
  }
  .progressBar {
    border-radius: 10px;
    color: $white;
    display: flex;
    height: 16px;
    flex-direction: column;
    overflow: hidden;
    padding-top: 14px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    p {
      color: $white;
      padding-left: 10px;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 760px) {
  .mostUsedAppsContainer {
    width: 25vw !important;
  }
}

@media only screen and (device-width: 768px) {
  .mostUsedAppsContainer {
    width: 40vw !important;
  }
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .mostUsedAppsContainer {
    width: 40vw !important;
  }
}
