.coloredText0 {
  background: $textGradient1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coloredBackground0 {
  background: $gradient1;
}

.coloredText1 {
  background: $textGradient2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coloredBackground1 {
  background: $gradient2;
}

.coloredText2 {
  background: $textGradient3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coloredBackground2 {
  background: $gradient3;
}

.profileInfo {
  height: 20vh;
  .pp {
    background-color: white;
    border-radius: 50%;
    box-shadow: $shadow;
    height: 10vh;
    width: 10vh;
    p {
      font-size: 4.5vh;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 5px $grey;
    }
  }
  .userInfo {
    p {
      color: $white;
      font-size: 2vh;
      letter-spacing: 1pt;
      text-transform: capitalize;
    }
  }
}

.desktimeInfoContainer {
  div {
    p {
      color: $white;
      font-size: 1.6vh;
      margin-bottom: 5px;
      letter-spacing: 1pt;
      text-transform: capitalize;
    }
    &:first-child > div > div {
      background-color: $white;
      border-radius: 10px;
      box-shadow: $shadow;
      height: 9vh;
      width: 12vh;
    }
    &:nth-child(2) > div > div {
      background-color: $white;
      border-radius: 50%;
      box-shadow: $shadow;
      height: 12vh;
      width: 12vh;
      .text {
        font-size: 3.5vh;
        letter-spacing: 1pt;
      }
    }
    .text {
      font-size: 2.5vh;
      font-weight: 600;
      letter-spacing: 1pt;
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
}

.mostUsedApps {
  .title {
    color: $white;
    font-size: 2.2vh;
    letter-spacing: 1pt;
    text-align: center;
    text-transform: capitalize;
  }
  .mostUsedAppsContainer {
    background-color: $white;
    border-radius: 10px;
    box-shadow: $shadow;
    height: max-content;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 65vw;
  }
  .app {
    width: 100%;
    .appName {
      font-size: 2vh;
      letter-spacing: 1pt;
      margin-bottom: 0.5vh;
      margin-top: 0.5vh;
    }
  }
  .progressBar {
    border-radius: 10px;
    color: #fff;
    display: flex;
    height: 16px;
    flex-direction: column;
    overflow: hidden;
    padding-top: 14px;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    p {
      color: #fff;
      padding-left: 10px;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 760px) {
  .mostUsedAppsContainer {
    width: 25vw !important;
  }
}
