$white: #fff;
$blue: #7071f6;
$pink: #ff63a5;
$grey: #afaebf;
$shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
$gradient1: linear-gradient(215.97deg, #7071f6 16.62%, #ff63a5 51.91%);
$textGradient1: linear-gradient(256.02deg, #7071f6 0%, #ff63a5 105.89%);
