.react-datepicker {
  font-family: Dosis !important;
  background-color: #656478 !important;
  .react-datepicker__day--selected {
    background: $gradient4;
  }
  .react-datepicker__current-month {
    color: $white !important;
    letter-spacing: 1pt;
    font-weight: 500;
  }
  .react-datepicker__day,
  .react-datepicker__day-name {
    color: $white !important;
  }
  .react-datepicker__header {
    background-color: #656478;
  }
}
.input-error {
  border: 2px solid red !important;
}
.home {
  .top {
    height: 45vh;
    .key {
      .search-input {
        background-color: $dark;
        border-radius: 10px;
        border: none;
        color: $white;
        font-weight: 300;
        font-size: 20px;
        height: 6vh;
        line-height: 3vh;
        letter-spacing: 1.5pt;
        width: 250px;
        text-align: center;
        &::placeholder {
          color: $white;
        }
        &:focus {
          outline: none !important;
        }
      }
    }
    .where {
      color: $white;
      font-weight: 300;
      font-size: 10px;
      letter-spacing: 1.5pt;
    }
    .date {
      background-color: $dark;
      border-radius: 10px;
      border: none;
      color: $white;
      font-weight: 300;
      font-size: 20px;
      height: 6vh;
      line-height: 3vh;
      letter-spacing: 1.5pt;
      width: 250px;
      text-align: center;
      &:focus {
        outline: none !important;
      }
    }
  }
  .bottom {
    background-color: $dark;
    border-radius: 55px 55px 0 0;
    height: 55vh;
    margin: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;

    .next-button {
      margin: auto;
      align-self: center;
      text-align: center;
      border-radius: 10px;
      bottom: 3vh;
      background: $gradient4;
      color: $white;
      font-weight: 300;
      font-size: 22px;
      height: 6vh;
      line-height: 6vh;
      letter-spacing: 1.5pt;
      position: absolute;
      text-align: center;
      text-decoration: none;
      width: 50vw;
      border: none;
      outline: none;
    }

    @media only screen and (width: 320px) {
      width: 320px;
      .next-button {
        margin-left: 80px;
        margin-right: 80px;
        width: 120px;
        bottom: 1vh;
      }
    }
  }
}

@media only screen and (min-width: 760px) {
  .search-input {
    width: 35vw !important;
  }
  .date {
    width: 35vw !important;
  }
  .bottom {
    border-radius: 55px !important;
    height: 45vh !important;
    width: 35vw !important;
    margin: auto !important;
    margin-bottom: 50px;
    .next-button {
      width: 10vw !important;
      bottom: 15vh !important;
    }
  }
}
