@import "./colors.scss";
@import "./home.scss";
@import "./emoji-button.scss";
@import "./badges.scss";
@import "./menu.scss";

html,
body,
main {
  cursor: url("../assets/images/cursor.png"), auto;
  font-family: Dosis, -apple-system, blinkmacsystemfont, gill sans,
    helvetica neue, helvetica, sans-serif;
  height: 100vh;
  overflow-y: hidden;
  width: 100vw;
}

.layout {
  height: 100vh;
  width: 100vw;
}
