@import "./colors.scss";
@import "./home.scss";
@import "./emoji-button.scss";
@import "./badges.scss";
@import "./menu.scss";

html,
body {
  background: $gradient1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Dosis, -apple-system, blinkmacsystemfont, gill sans,
    helvetica neue, helvetica, sans-serif;
  cursor: url("../assets/images/cursor.png"), auto;
}
