.menu {
  left: 2.5vh;
  position: fixed;
  top: 2.5vh;
  display: inherit;
}
.menuItem {
  align-items: center;
  background-color: $dark;
  border-radius: 50%;
  cursor: unset !important;
  display: flex;
  height: 30px;
  margin-top: 5px;
  outline: none !important;
  justify-content: center;
  width: 30px;
  .icon {
    color: $white;
    font-size: 18px;
  }
}

.d-none {
  display: none !important;
}
