.menu {
  left: 2.5vh;
  position: fixed;
  top: 2.5vh;
}
.menuItem {
  align-items: center;
  background-color: $white;
  border-radius: 50%;
  cursor: unset !important;
  display: flex;
  height: 30px;
  margin-top: 5px;
  outline: none !important;
  justify-content: center;
  width: 30px;
  svg {
    color: $grey;
    font-size: 18px;
  }
}
